<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.typekit.net/ihi4nfw.js"></script>
    <script>
      try { Typekit.load({ async: true }); } catch (e) { }
    </script>
		<title>Album Scrape!</title>
    
	</head>
	<body>
    <div class="sideways hide-on-med-and-down ">The Source for New Albums!</div>
    <div class="container">
      <div class="row">
        <a href="/"><h1 class="title">Top Album Scraper!</h1></a>
      </div>
    </div>
    <div class="container">
		{{{ body }}}
    </div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
		<script src="/assets/js/script.js"></script>
	</body>

</html>
