body {
  background-color: lightcoral;
  background-attachment: fixed;
  font-family: "prociono",serif;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "junction", sans-serif;
  color: navy;
}

.card {
  background-color: whitesmoke;
}

.card .card-image .card-title, .card .card-title {
  font-size: 18px;
  padding: 9px;
  width: 100%;
}
.card-title h5 {
  padding-bottom: 3px;
  border-bottom: 1px solid white;
  margin-bottom: 0.3rem
}

.card .card-image img {
  mix-blend-mode: multiply;
}

.end-mark {
  display: none;
}

.sideways {
  transform: rotate(90deg);
  transform-origin: right top;
  font-size: 2.5rem;
  position: fixed;
  top: 90vh;
  right: 5vh;
  color: navy;
  font-family: "junction", sans-serif;
}